@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');
$brand:orange   ;
$w:#fff;
body{
    font-family: 'Roboto Serif', sans-serif;
  
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
.top{
    background-color: $brand;
}
.topnav{
    line-height: 50px;
    overflow: hidden;
  
    ul
    {
        list-style: none;
        padding: 0%;
        margin: 0;
        li{
            display:inline;
            padding: 20px;
            border-left:1px solid white ;
        }
    }

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    padding: 15px;
}

.rt{
    position: absolute;
    bottom:30%;
    left:60%;
}
.yu{
    background: sandybrown;
}

.pboximg{
    position: relative;

    .social{
        position: absolute;
        width: 70px;
       height: 0;
        background:$brand;
      bottom: 0;
        right: 0;
    transition:0.3s;
    }
}
.pbox:hover{
    .social{ height: 100%;}
}
    .soc{
        position: absolute;
        width: 70px;
       height: 0;
        background:$brand;
      top: 0;
        right: 0;
    transition:0.5s;
    }
.pbox:hover{
    .soc{ height: 100%;}
}

.category{
    background-color: antiquewhite;
    .cat{
    position: relative;

    .catbox
    {
        width: 80%;
        height: 80%;
        background: rgb($color: #000000, $alpha: 0.6);
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%) ;
    }
}
}